# Virtual environments
venv/
.venv/

# Python cache
__pycache__/
*.py[cod]

# Jupyter
.ipynb_checkpoints/

# VS Code
.vscode/

# Environment variables
.env

# OS files
.DS_Store
Thumbs.db

# Build / distribution
build/
dist/
*.egg-info/

# Logs
*.log

# Pytest
.pytest_cache/

# Streamlit
.streamlit/secrets.toml

# Notebook outputs
*.ipynb_checkpoints

# Coverage
.coverage
htmlcov/

# MLOps & Local Runtime
mlflow.db
mlruns/
implementation_plan.md
smoke_test.py